.Navi {
  background-color: rgb(235, 235, 238);
  margin-top: 0;
  padding: 1.5vw;
  display: flex;

  justify-content: flex-end;
  list-style: none;
}

.Navi li {
  margin: 5px;
}

.Navi li a {
  text-decoration: none;
}
