.AddNewImageForm {
  text-align: center;
  margin: 0 auto;
  margin-top: 15vw;
}
.AddNewImageForm h2 {
  color: #3389ff;
}
.AddNewImageForm input {
  text-align: center;
  background-color: #e1edff;
  height: 47px;
  width: 330px;
  display: block;
  margin: 5px auto;
  border: none;
  border-radius: 5px;
}

:placeholder-shown {
  color: #6d89af !important;
  font-size: 1rem;
}
.AddNewImageForm a {
  text-decoration: none;
  font-weight: bold;
}

.AddNewImageForm button {
  margin-top: 10px;
  background-color: #3389ff;
  height: 47px;
  width: 330px;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.AddNewImageForm button:hover {
  background-color: #2173e6;
}

.AddNewImageForm a :visited {
  color: rgb(15, 132, 201);
}

@media all and (max-width: 550px) {
  .DropZone {
    width: 80%;
  }
}
