.LogInArea {
  text-align: center;
  margin: 0 auto;
  margin-top: 15vw;
}
.LogInArea h2 {
  color: #3389ff;
}
.LogInArea input {
  text-align: center;
  background-color: #e1edff;
  height: 47px;
  width: 330px;
  display: block;
  margin: 5px auto;
  border: none;
  border-radius: 5px;
}

input:placeholder-shown {
  color: #6d89af !important;
  font-size: 1rem;
}

::placeholder {
  color: #6d89af !important;
  font-size: 1rem;
}
.LogInArea a {
  text-decoration: none;
  font-weight: bold;
}

.LogInArea button {
  margin-top: 10px;
  background-color: #3389ff;
  height: 47px;
  width: 330px;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.LogInArea button:hover {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  background-color: #2173e6;
}

.LogInArea a:visited {
  color: rgb(15, 132, 201);
}

.LogInArea a:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 1.3rem;
}
@media all and (max-width: 550px) {
  .LogInArea input {
    width: 85%;
  }
  .LogInArea button {
    width: 85%;
  }
}
